tg_bot/config.py
tg_bot/*.session
tg_bot/*.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
tg_bot/modules/helper_funcs/temp.txt
*.session
*.session-journal
venv
env
*.exe
*.png
env/
*.log
shell_output.txt
.vs
tg_bot/elevated_users.json
