aiohttp>=3.7.4.post0
alphabet_detector>=0.0.7
beautifulsoup4>=4.9.3
bleach>=3.3.0
cachetools>=4.2.2
emoji>=1.2.0
feedparser>=6.0.6
future>=0.18.2
geopy>=2.1.0
gitpython>=3.1.14
gpytranslate>=1.2.0
google-play-scraper>=1.0.0
humanize>=3.9.0
markdown2>=2.4.0
multicolorcaptcha>=1.0.0
pillow>=8.2.0
psutil>=5.8.0
psycopg2-binary>=2.9
pyYAML>=5.4.1
pyrate-limiter>=2.3.4
python-telegram-bot>=13.6
pyrogram>=1.2.9
requests>=2.25.1
spongemock>=0.3.4
sqlalchemy==1.3.20
telegraph>=1.4.1
tgcrypto>=1.2.2
tswift>=0.7.0
ujson>=4.0.2
